<div class="sliderWrapper" id="sliderWrapper_{{this.id}}" data-enhance="false">
    <div class="subHeading drop-label">{{this.label}}</div>
    <input id="{{this.id}}" data-name="{{this.id}}" class="slideinput">
    <!-- <input data-name="{{this.id}}" type="range" class="slideinput" name="{{this.id}}" id="{{this.id}}" value="0" min="0" max="100" data-highlight="true"/>-->
    <div data-name="{{this.id}}" class="uninitialized-slider"></div>
</div>
